<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas-Matplotlib/blob/main/Copia_di_Copia_di_EsPandas_groupby_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-20221119.csv ')
df

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi,note,codice_nuts_1,codice_nuts_2,codice_nuts_3
0,2022-11-19T17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,123235,NaN,ITF,ITF1,ITF11
1,2022-11-19T17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,143295,NaN,ITF,ITF1,ITF12
2,2022-11-19T17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,142547,NaN,ITF,ITF1,ITF13
3,2022-11-19T17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,171694,NaN,ITF,ITF1,ITF14
4,2022-11-19T17:00:00,ITA,13,Abruzzo,879,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,12772,NaN,ITF,ITF1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022-11-19T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,420955,NaN,ITH,ITH3,ITH35
145,2022-11-19T17:00:00,ITA,5,Veneto,28,Padova,PD,45.406930,11.876087,488071,NaN,ITH,ITH3,ITH36
146,2022-11-19T17:00:00,ITA,5,Veneto,29,Rovigo,RO,45.071073,11.790070,108879,NaN,ITH,ITH3,ITH37
147,2022-11-19T17:00:00,ITA,5,Veneto,899,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,37545,NaN,ITH,ITH3,NaN
148,2022-11-19T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,NaN,NaN,12075,NaN,ITH,ITH3,NaN

1. il numero di casi totali in Lombardia

2. il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi

3. le regioni che hanno più di un milione di casi

4. il numero di casi in Italia

5. la percentuale di casi in ogni regione rispetto al totale della popolazione italiana

Scrivere poi le istruzioni necessarie per avere i seguenti grafici:

1. un grafico a barre verticali per la richiesta numero 2

2. un grafico a barre orizzontali per la richiesta numero 2

3. un grafico a torta per la richiesta numero 5

In [ ]:
#il numero di casi totali in Lombardia
df[df['denominazione_regione'] == 'Lombardia'].sum()[['totale_casi']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

totale_casi    3886751
dtype: object

In [ ]:
#il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi
dfgroup = df.groupby('denominazione_regione')[['totale_casi']].sum().sort_values(by= 'totale_casi', ascending = False)
dfgroup

                       totale_casi
denominazione_regione
Lombardia                  3886751
Veneto                     2497049
Campania                   2328652
Lazio                      2224032
Emilia-Romagna             2007144
Sicilia                    1716753
Piemonte                   1629444
Puglia                     1541123
Toscana                    1504050
Marche                      667548
Liguria                     618527
Abruzzo                     602251
Calabria                    591656
Friuli Venezia Giulia       538724
Sardegna                    479882
Umbria                      411154
P.A. Bolzano                285386
P.A. Trento                 233931
Basilicata                  191315
Molise                       95375
Valle d'Aosta                48459

In [ ]:
#le regioni che hanno più di un milione di casi
dfgroup[dfgroup['totale_casi'] > 1000000]

                       totale_casi
denominazione_regione
Lombardia                  3886751
Veneto                     2497049
Campania                   2328652
Lazio                      2224032
Emilia-Romagna             2007144
Sicilia                    1716753
Piemonte                   1629444
Puglia                     1541123
Toscana                    1504050

In [ ]:
#il numero di casi in Italia
dfgroup['totale_casi'].sum()

24099206

In [ ]:
#la percentuale di casi in ogni regione rispetto al totale della popolazione italiana
dfgroup/ dfgroup['totale_casi'].sum() *100

                       totale_casi
denominazione_regione
Lombardia                16.128129
Veneto                   10.361541
Campania                  9.662775
Lazio                     9.228653
Emilia-Romagna            8.328673
Sicilia                   7.123691
Piemonte                  6.761401
Puglia                    6.394912
Toscana                   6.241077
Marche                    2.770000
Liguria                   2.566587
Abruzzo                   2.499049
Calabria                  2.455085
Friuli Venezia Giulia     2.235443
Sardegna                  1.991277
Umbria                    1.706089
P.A. Bolzano              1.184213
P.A. Trento               0.970700
Basilicata                0.793864
Molise                    0.395760
Valle d'Aosta             0.201081

# Esercitazione PreVerifica

1. visualizzare il numero totale di record presenti nel file
2. visualizzare il numero di record presenti relativi ad una regione inserita dall'utente
3. modificare l'esercizio precedente per rispondere con un messaggio appropriato se la regione non è presente
4. visualizzare il numero totale di vaccini consegnati in una regione inserita dall'utente
5. visualizzare il numero totale di vaccini per ogni fornitore
6. visualizzare il numero di vaccini per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine
decrescente sul numero di vaccini
7. visualizzare le informazioni dell'esercizio 6 con un grafico a barre verticali e uno a barre orizzontali. Indicare in modo appropriato il titolo, la legenda e le informazioni presenti negli assi
8. visualizzare le informazioni dell'esercizio 6 con un grafico a torta
9. visualizzare le informazioni dell'esercizio 6 con un grafico treemap (cercare su internet)
10. visualizzare i nomi delle tre regioni in cui sono stati consegnati più vaccini
11. visualizzare i nomi delle regioni in cui sono stati consegnati un numero di vaccini inferiore alla media dei vaccini consegnati nelle regioni
12. visualizzare il grafico delle consegne dei vaccini in Lombardia e nel Lazio. Visualizzare solo i dati delle
consegne avvenute negli ultimi sei mesi. Fare in modo che la data sia determinata in modo automatico (cercare su internet)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv ')
df

,area,forn,numero_dosi,data_consegna,N1,N2,ISTAT,reg
0,ABR,Pfizer/BioNTech,135,2020-12-27,ITF,ITF1,13,Abruzzo
1,ABR,Pfizer/BioNTech,7800,2020-12-30,ITF,ITF1,13,Abruzzo
2,ABR,Pfizer/BioNTech,3900,2021-01-05,ITF,ITF1,13,Abruzzo
3,ABR,Pfizer/BioNTech,3900,2021-01-07,ITF,ITF1,13,Abruzzo
4,ABR,Pfizer/BioNTech,3900,2021-01-11,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...
7545,VEN,Pfizer/BioNTech,192960,2022-09-21,ITH,ITH3,5,Veneto
7546,VEN,Moderna,72600,2022-09-26,ITH,ITH3,5,Veneto
7547,VEN,Pfizer/BioNTech,77760,2022-10-20,ITH,ITH3,5,Veneto
7548,VEN,Pfizer Pediatrico,38400,2022-10-31,ITH,ITH3,5,Veneto
7549,VEN,Pfizer/BioNTech,77760,2022-11-15,ITH,ITH3,5,Veneto

In [ ]:
#visualizzare il numero totale di record presenti nel file
df.count()

area             7550
forn             7550
numero_dosi      7550
data_consegna    7550
N1               7550
N2               7550
ISTAT            7550
reg              7550
dtype: int64

In [ ]:
#visualizzare il numero di record presenti relativi ad una regione inserita dall'utente
Nome_Regione = input('Inserire il nome di una regione: ')
df[df['reg'] == Nome_Regione ].count()

Inserire il nome di una regione: Lombardia

area             360
forn             360
numero_dosi      360
data_consegna    360
N1               360
N2               360
ISTAT            360
reg              360
dtype: int64

In [ ]:
#modificare l'esercizio precedente per rispondere con un messaggio appropriato se la regione non è presente
Nome_Regione = input('Inserire il nome di una regione: ')
risultato= df[df['reg'] == Nome_Regione ].count()['area']
if risultato == 0: 
  print('La regione non è presente')
else:
  print(risultato)

Inserire il nome di una regione: Lombardia
360

In [ ]:
#visualizzare il numero totale di vaccini consegnati in una regione inserita dall'utente
Nome_Regione = input('Inserire il nome di una regione: ')
risultato= df[df['reg'] == Nome_Regione ].sum()['numero_dosi']
risultato

Inserire il nome di una regione: Lombardia

27564209

In [ ]:
#visualizzare il numero totale di vaccini per ogni fornitore
dfgb = df.groupby('forn')[['numero_dosi']].sum()
dfgb

                         numero_dosi
forn
Janssen                      1849471
Moderna                     27594908
Novavax                      1028600
Pfizer Pediatrico            7712893
Pfizer/BioNTech            108756098
Vaxzevria (AstraZeneca)     11514531

In [ ]:
#visualizzare il numero di vaccini per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine decrescente sul numero di vaccini
Nome_Regione = input('Inserire il nome di una regione: ')
dfreg = df[df['reg'] == Nome_Regione]
dfreg.groupby('forn')[['numero_dosi']].sum()

Inserire il nome di una regione: Lombardia

                         numero_dosi
forn
Janssen                       309490
Moderna                      4879456
Novavax                       177300
Pfizer Pediatrico            1332000
Pfizer/BioNTech             18675574
Vaxzevria (AstraZeneca)      2190389

In [ ]:
Nome_Regione = input('Inserire il nome di una regione: ')
df[df['reg'] == Nome_Regione].groupby('forn')[['numero_dosi']].sum()

Inserire il nome di una regione: Lombardia

                         numero_dosi
forn
Janssen                       309490
Moderna                      4879456
Novavax                       177300
Pfizer Pediatrico            1332000
Pfizer/BioNTech             18675574
Vaxzevria (AstraZeneca)      2190389