<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas-Matplotlib/blob/main/EsPandas_groupby_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-20221119.csv ')
df

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi,note,codice_nuts_1,codice_nuts_2,codice_nuts_3
0,2022-11-19T17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,123235,NaN,ITF,ITF1,ITF11
1,2022-11-19T17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,143295,NaN,ITF,ITF1,ITF12
2,2022-11-19T17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,142547,NaN,ITF,ITF1,ITF13
3,2022-11-19T17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,171694,NaN,ITF,ITF1,ITF14
4,2022-11-19T17:00:00,ITA,13,Abruzzo,879,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,12772,NaN,ITF,ITF1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022-11-19T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,420955,NaN,ITH,ITH3,ITH35
145,2022-11-19T17:00:00,ITA,5,Veneto,28,Padova,PD,45.406930,11.876087,488071,NaN,ITH,ITH3,ITH36
146,2022-11-19T17:00:00,ITA,5,Veneto,29,Rovigo,RO,45.071073,11.790070,108879,NaN,ITH,ITH3,ITH37
147,2022-11-19T17:00:00,ITA,5,Veneto,899,Fuori Regione / Provincia Autonoma,NaN,NaN,NaN,37545,NaN,ITH,ITH3,NaN
148,2022-11-19T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,NaN,NaN,12075,NaN,ITH,ITH3,NaN

1. il numero di casi totali in Lombardia

2. il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi

3. le regioni che hanno più di un milione di casi

4. il numero di casi in Italia

5. la percentuale di casi in ogni regione rispetto al totale della popolazione italiana

Scrivere poi le istruzioni necessarie per avere i seguenti grafici:

1. un grafico a barre verticali per la richiesta numero 2

2. un grafico a barre orizzontali per la richiesta numero 2

3. un grafico a torta per la richiesta numero 5

In [ ]:
#il numero di casi totali in Lombardia
df[df['denominazione_regione'] == 'Lombardia'].sum()[['totale_casi']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

totale_casi    3886751
dtype: object

In [ ]:
#il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi
dfgroup = df.groupby('denominazione_regione')[['totale_casi']].sum().sort_values(by= 'totale_casi', ascending = False)
dfgroup

                       totale_casi
denominazione_regione
Abruzzo                     602251
Basilicata                  191315
Calabria                    591656
Campania                   2328652
Emilia-Romagna             2007144
Friuli Venezia Giulia       538724
Lazio                      2224032
Liguria                     618527
Lombardia                  3886751
Marche                      667548
Molise                       95375
P.A. Bolzano                285386
P.A. Trento                 233931
Piemonte                   1629444
Puglia                     1541123
Sardegna                    479882
Sicilia                    1716753
Toscana                    1504050
Umbria                      411154
Valle d'Aosta                48459
Veneto                     2497049

In [ ]:
#le regioni che hanno più di un milione di casi
dfgroup[dfgroup['totale_casi'] > 1000000]

                       totale_casi
denominazione_regione
Campania                   2328652
Emilia-Romagna             2007144
Lazio                      2224032
Lombardia                  3886751
Piemonte                   1629444
Puglia                     1541123
Sicilia                    1716753
Toscana                    1504050
Veneto                     2497049

In [ ]:
#il numero di casi in Italia
dfgroup['totale_casi'].sum()

24099206

In [ ]:
#la percentuale di casi in ogni regione rispetto al totale della popolazione italiana
dfgroup/ dfgroup['totale_casi'].sum() *100

                       totale_casi
denominazione_regione
Abruzzo                   2.499049
Basilicata                0.793864
Calabria                  2.455085
Campania                  9.662775
Emilia-Romagna            8.328673
Friuli Venezia Giulia     2.235443
Lazio                     9.228653
Liguria                   2.566587
Lombardia                16.128129
Marche                    2.770000
Molise                    0.395760
P.A. Bolzano              1.184213
P.A. Trento               0.970700
Piemonte                  6.761401
Puglia                    6.394912
Sardegna                  1.991277
Sicilia                   7.123691
Toscana                   6.241077
Umbria                    1.706089
Valle d'Aosta             0.201081
Veneto                   10.361541

In [ ]:
#1. il numero di casi totali in Lombardia
df[df['denominazione_regione'] == 'Lombardia'].sum()[['totale_casi']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

totale_casi    3886751
dtype: object

In [ ]:
#2. il numero di casi totali in ogni regione. Ordinare in ordine decrescente in base al numero di casi
df= df.groupby('denominazione_regione')[['totale_casi']].sum().sort_values(by= ('totale_casi'), ascending = False)
df

                       totale_casi
denominazione_regione
Lombardia                  3886751
Veneto                     2497049
Campania                   2328652
Lazio                      2224032
Emilia-Romagna             2007144
Sicilia                    1716753
Piemonte                   1629444
Puglia                     1541123
Toscana                    1504050
Marche                      667548
Liguria                     618527
Abruzzo                     602251
Calabria                    591656
Friuli Venezia Giulia       538724
Sardegna                    479882
Umbria                      411154
P.A. Bolzano                285386
P.A. Trento                 233931
Basilicata                  191315
Molise                       95375
Valle d'Aosta                48459

In [ ]:
#3. le regioni che hanno più di un milione di casi
df[df['totale_casi']> 1000000]

                       totale_casi
denominazione_regione
Lombardia                  3886751
Veneto                     2497049
Campania                   2328652
Lazio                      2224032
Emilia-Romagna             2007144
Sicilia                    1716753
Piemonte                   1629444
Puglia                     1541123
Toscana                    1504050

In [ ]:
#4. il numero di casi in Italia
df['totale_casi'].sum()

24099206